body {
  text-align: center;
  background-color: rgb(239, 239, 241);
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

h1,
p {
  font-family: "Noto Sans KR", sans-serif;
  color: rgb(111, 111, 159);
  text-align: center;
}

a {
  color: rgb(111, 111, 159);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#today-goal {
  color: rgb(29, 29, 116);
  font-size: 32px;
  font-weight: 700;
}