body {
    background-color: rgb(239, 239, 241);
    text-align: center;
    color: rgb(83, 75, 75);
}

h1,
p {
    font-family: "Noto Sans KR", sans-serif;
    color: rgb(111, 111, 159);
}

p {
    border-radius: 3px;
}

a {
    font-family: "Noto Sans KR", sans-serif;
    color: rgb(111, 111, 159);
    text-decoration: none;
}

a:hover {
    background-color: rgb(179, 179, 200);
}


/*     CSS 과제 (weekly.css 파일 생성)
    1. 폰트 : 노토산스 ko
    2. 여러분의목표들<p> 배경색 넣기, 테두리 적당히 둥글게 깎기
    3. 글자색 부여하기 (전부 동일)
    4. 요소 전부 중앙 정렬
    5. a 태그에 마우스 올리면 배경색 넣기 
*/