* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #292929;
}

.parent {
  width: 400px;
  margin: 0 auto;
  background-color: #efefef;
}

.child {
  float: left;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}
